allure-pytest==2.13.5
allure-python-commons==2.13.5
annotated-types==0.7.0
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
dotenv==0.9.9
Faker==37.0.0
idna==3.10
iniconfig==2.0.0
mocker==1.1.1
packaging==24.2
pluggy==1.5.0
pydantic==2.11.0b1
pydantic_core==2.31.1
pytest==8.3.5
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
six==1.17.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
